# from https://www.raspberrypi.org/documentation/linux/usage/systemd.md
# Also see https://coreos.com/os/docs/latest/using-environment-variables-in-systemd-units.html
[Unit]
Description=pirest service
After=network.target

[Service]
ExecStart=/home/pi/py/pirest/flask_get.py
WorkingDirectory=/home/pi/py/pirest
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
